<!-- Page Content -->
<div class="divide10"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="index.xhtml">Home</a></li>
		<li class="active">Data Transformation and Database Migration</li>
	</ol>
	<div class="row">
		<!--  row -->
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Data Transformation</h3>
				</div>
				<div class="panel-body text_3 color_3">

					<p >Advances in hardware and data storage have enabled, more and more data are to be collected constantly. 
					For useful data analysis, data needs be transformed to a standard format. 
					With more than 15 years' experience in data transformation, our firm can assist	clients to transform data 
					from one or many sources to a target medium for analysis.</p>
					<p >With programming and hacking skills, 
						our technical staff can transform complex unstructured data into
						semi-structured or structured data automatically.</p>
					

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h3>Technologies</h3>
				</div>
				<div class="panel-body color_3">
					<ul class="list-unstyled cat-list">
						<li>Cassandra</li>
						<li>MSSQL</li>
						<li>Oracle</li>
						<li>DB2</li>
						<li>MySQL</li>
						<li>MongoDB</li>
						<li>Apache</li>
						<li>Gradle / Maven</li>
						<li>Ant</li>
						<li>Java</li>
						<li>Python</li>
						<li>Linux scripts</li>
						<li>Programming hacking</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
