<!-- Page Content -->
<div class="divide10"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="index.xhtml">Home</a></li>
		<li class="active">Web Development</li>
	</ol>
	<div class="row">
		<!--  row -->
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Web Development</h3>
				</div>
				<div class="panel-body">

					<p class="text_3 color_3">Software designed for the web is
						ideally suited for custom business applications that streamline
						processes, enable a competitive advantage, or connect with
						consumers and business partners in unique ways. We build new applications
						and also enhance and add funtionality to your legacy applications.</p>
					<p class="text_3 color_3">Our firm builds reliable,
						secure, and richly featured web applications. Using modern web
						technologies, we can build robust applications with rich user
						interfaces and complex business functionality, that are always
						available, online.</p>
					<p class="text_3 color_3">A web application also improves for
						enterprise readiness and affordability. The languages, frameworks,
						and architecture lend themselves to rapid application development.
						And relative to other software architectures, web apps offer easier
						deployment and maintenance.</p>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h3>Technology</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled cat-list">
						<li>AngularJS</li>
						<li>React</li>
						<li>Google Guice</li>
						<li>Hibernate JPA</li>
						<li>Spring security</li>
						<li>MySQL</li>
						<li>Oracle</li>
						<li>Linux</li>
						<li>Apache</li>
						<li>Gradle / Maven</li>
						<li>Ant</li>
						<li>Java</li>
						<li>Python</li>
						
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
