<div class="divide20"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="index.xhtml">Home</a></li>
		<li class="active">About</li>
	</ol>

	<div class="row">
		<div class="col-md-6 margin20">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>About Us</h3>
				</div>
				<div class="panel-body">

					<p class="text_3 color_3">Data Science 9 is a unique software
						solution firm that provides a solution for companies in a software
						crisis. Our firm comprises a group of software developers,
						architects, project managers, and experts in the software
						development field who have come together to offer content,
						consulting, and training to our clients. These experts are
						committed to delivering top-level, critical, and objective advice.
					</p>
					<p>
						<a href="services.xhtml" class="btn border-black btn-lg">Our
							Services</a>
					</p>

				</div>
			</div>

		</div>
		<div class="col-md-6">
			<img src="images/hosting-architecture.png" class="img-responsive" alt="">
		</div>
	</div>
	<!--about intro-->
</div>
<div class="divide20"></div>

