<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="center-heading">
				<h3 class="header_1 wrap_3 color_3">Web Development</h3>
			</div>
		</div>
	</div>
	<!--center heading row-->
	<div class="row">
		<div class="col-md-3 col-sm-6 margin20">
			<div class="item-img-wrap ">
				<img src="images/tomcat.png" class="img-responsive" alt="workimg">
				<div class="item-img-overlay">
					<a href="images/tomcat.png" class="show-image"> <span></span>
					</a>
				</div>
			</div>
			<!--item img wrap-->
			<div class="work-desc">
				<h3>
					<a href="tomcat-hosting-service.xhtml">Tomcat hosting service</a>
				</h3>
				<span>Tomcat Hosting</span>
			</div>
		</div>
		<!--work desc-->

		<!--owl item-->

		<div class="col-md-3 col-sm-6 margin20">
			<div class="item-img-wrap ">
				<img src="images/exam.png" class="img-responsive" alt="workimg">
				<div class="item-img-overlay">
					<a href="images/exam.png" class="show-image"> <span></span>
					</a>
				</div>
			</div>
			<div class="work-desc">
				<h3>
					<a href="ecommerce.xhtml">E-commerce</a>
				</h3>
				<span>J2EE application development</span>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 margin20">
			<div class="item-img-wrap ">
				<img src="images/rest-webapplication.png" class="img-responsive" alt="workimg">
				<div class="item-img-overlay">
					<a href="images/rest-webapplication.png" class="show-image"> <span></span>
					</a>
				</div>
			</div>
			<div class="work-desc">
				<h3>
					<a href="dispatcher.xhtml">Dispatcher Management System</a>
				</h3>
				<span>A responsive web application that was developed to manage a fleet of snow trucks</span>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-6 margin20">
			<div class="item-img-wrap ">
				<img src="images/hienlong.jpg" class="img-responsive" alt="workimg">
				<div class="item-img-overlay">
					<a href="images/hienlong.jpg" class="show-image"> <span></span>
					</a>
				</div>
			</div>
			<!--item img wrap-->
			<div class="work-desc">
				<h3>
					<a href="hienlong.xhtml" target="_blank">Web site design</a>
				</h3>
				<span>A responsive web site using Bootstrap 3.0</span>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="center-heading">
				<h3 class="header_1 wrap_3 color_3">Data Mining</h3>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-3 col-sm-6 margin20">
			<div class="item-img-wrap ">
				<img src="images/qualitysmith.jpg" class="img-responsive" alt="workimg">
				<div class="item-img-overlay">
					<a href="images/qualitysmith.jpg" class="show-image"> <span></span>
					</a>
				</div>
			</div>
		<div class="work-desc">
			<h3>
				<a href="#">Useful Data Extraction</a>
			</h3>
			<span>Extract useful information from the Internet</span>
		</div>
		</div>
	</div>
	
	<div class="row">
	<div class="col-md-12">
		<div class="center-heading">
			<h3 class="header_1 wrap_3 color_3">IT as Service</h3>
		</div>
	</div>
</div>	
<div class="row">
	<div class="col-md-3 col-sm-6 margin20">
		<div class="item-img-wrap ">
			<img src="images/censeo.png" class="img-responsive" alt="workimg">
			<div class="item-img-overlay">
				<a href="images/censeo.png" class="show-image"> <span></span>
				</a>
			</div>
		</div>
	<div class="work-desc">
		<h3>
			<a href="#">IT service for Censeo Inc.</a>
		</h3>
		<span>Extract useful information from the Internet</span>
	</div>
	</div>
</div>
</div>