<!-- Page Content -->
<div class="divide10"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="index.xhtml">Home</a></li>
		<li class="active">Data Mining and Machine Learning</li>
	</ol>
	<div class="row">
		<!--  row -->
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Data Mining and Machine Learning</h3>
				</div>
				<div class="panel-body">

					<p class="text_3 color_3">As a massive amount of data
						is collected every second, mining it for useful information is key for
						businesses to engage closely with customers. Our firm provides a
						full service of data munging, wrangling, and data discovery,
						including building predictive models or clusters of interesting
						information using open-source data mining and machine learning
						algorithms.</p>
					<p class="text_3 color_3">To ensure our models do not suffer
						overfitting issues we employ an ensemble method that uses multiple
						learning algorithms to cross-check results, preventing overfitting
						and avoiding high bias.  We also use A cross-validation technique.</p>
					<p class="text_3 color_3">Our firm is actively and continually 
						learning new approaches in machine learning and applying those
						improved techniques in new projects</p>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h3>Technologies</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled cat-list">
						<li>MongoDB</li>
						<li>Cassandra</li>
						<li>Numpy Python</li>
						<li>Scipy Python</li>
						<li>Anaconda Scientific Python Distribution</li>
						<li>Linux</li>
						<li>R language</li>
						<li>Gradle / Maven</li>
						<li>Hadoop</li>
						<li>Java</li>
						<li>Python</li>
						<li>Apache Spark</li>
						<li>Map Reduce</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
