<!-- Page Content -->
<div class="divide10"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="index.xhtml">Home</a></li>
		<li class="active">IT As a Service</li>
	</ol>
	<div class="row">
		<!--  row -->
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>IT as a Service</h3>
				</div>
				<div class="panel-body text_3 color_3">

					<p>Unlike a traditional outsourcing company, our firm provides
						IT support for sustaining projects that need support but
						require less than a full headcount. Thus, our staff can support
						one to many applications for a fraction of the traditional cost of
						sustaining legacy applications.</p>
					<p>Although it is normally difficult to support multiple
						applications, with its diversified skill sets our technical team
						can perform those tasks efficiently and economically.</p>
					<p>Our firm is a unique on-shore outsourcing company that
					can compete with off-shore outsourcing firms technically and economically
					because our in-house full-stack engineers possess expertises in diverse domains.</p>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h3>Technologies</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled cat-list">
						<li>Google Guice</li>
						<li>Hibernate JPA</li>
						<li>Spring Security</li>
						<li>MySQL</li>
						<li>Oracle</li>
						<li>Linux</li>
						<li>Apache</li>
						<li>Gradle / Maven</li>
						<li>Ant</li>
						<li>Java</li>
						<li>Python</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
