<!-- Page Content -->
<div class="divide10"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="index.xhtml">Home</a></li>
		<li class="active">Enterprise Software Solution</li>
	</ol>
	<div class="row">
		<!--  row -->
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Enterprise Software Solution</h3>
				</div>
				<div class="panel-body">

					<p class="text_3 color_3">If an off-the-shelf product does not
						suite your business requirements, our firm can work with your company
						to design and build a customized application that satisfies your requirements
						at an affordable cost. </p>
					<p class="text_3 color_3">Building on top of well-known open-source
					frameworks we can rapidly develop an application
					based on your requirements</p>
					<p class="text_3 color_3">Using agile methodology our staff
					engage continually with client constantly during the development cycle to ensure
					we meet all customer requirements</p>
					<p class="text_3 color_3">With our expertise in database modeling, network setup, server
					configurations, security mechanisms, and open source frameworks our firm can provide a full
					service from conceptual design to development, and set up an infrastructure or connect to
					cloud services such as Amazon EC2 or Google Cloud.</p>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h3>Technologies</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled cat-list">
						<li>Google Guice</li>
						<li>Hibernate JPA</li>
						<li>Spring Security</li>
						<li>MySQL</li>
						<li>Oracle</li>
						<li>Linux</li>
						<li>Apache</li>
						<li>Gradle / Maven</li>
						<li>Ant</li>
						<li>Java</li>
						<li>Python</li>
						<li>DNS</li>
						<li>Firewall</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
