<!-- Page Content -->
<div class="divide10"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="index.xhtml">Home</a></li>
		<li class="active">Database Migrations</li>
	</ol>
	<div class="row">
		<!--  row -->
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Database Migration and Microservices Generation</h3>
				</div>
				<div class="panel-body">
					<p class="text_3 color_3">Datascience9 can help to generate microservices directly from your legacy database. 
					The solution is 100% automated. 
					The generated micro services can be customized based on client requirements.</p>

					<p class="text_3 color_3">The generator supports different frameworks, such as RESTEasy, Hibernate JPA, Apache, and Open JPA.</p>
					
					<p class="text_3 color_3">The core functionality of this framework will be released as an open source to GitHub
					</p>
					<p class="text_3 color_3"><img src="images/datamigration.png" class="img-responsive" alt=""></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h3>Technology</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled cat-list">
						<li>ANTLR4</li>
						<li>SpringTemplate</li>
						<li>Apache Open JPA</li>
						<li>XML</li>
						<li>JDBC</li>						
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
