<div class="tp-banner-container" >
	<div class="tp-banner-boxed">
		<ul>
			<!-- SLIDE -->
			<li data-transition="fade" data-slotamount="5"
				data-masterspeed="1000" data-title="Slide 1">
				<!-- MAIN IMAGE --> <img src="images/header-bg.jpg" alt="darkblurbg"
				data-bgfit="cover" data-bgposition="left top"
				data-bgrepeat="no-repeat">
				<div class="caption sfb  uppercase-title text-center"
					data-x="center" data-y="158" data-speed="900" data-start="800"
					data-easing="Sine.easeOut">Custom Web Development</div>
				<div class="caption sfb lowercase-caption text-center"
					data-x="center" data-y="218" data-speed="900" data-start="1500"
					data-easing="Sine.easeOut">Develop custom web applications using that meet customer requirements</div>
				<div class="caption rev-buttons tp-resizeme sfb" data-x="center"
					data-y="313" data-speed="900" data-start="2200"
					data-easing="Sine.easeOut">
					<a href="web.xhtml" class="btn btn-theme-bg btn-lg">Learn More</a>
				</div>
			</li>
			<!-- SLIDE -->
			<li data-transition="fade" data-slotamount="5"
				data-masterspeed="1000" data-title="Slide 1">
				<!-- MAIN IMAGE --> <img src="images/header-bg.jpg" alt="darkblurbg"
				data-bgfit="cover" data-bgposition="left top"
				data-bgrepeat="no-repeat">
				<div class="caption sfb  uppercase-title text-center"
					data-x="center" data-y="158" data-speed="900" data-start="800"
					data-easing="Sine.easeOut">Data Migration and Transformation</div>
				<div class="caption sfb lowercase-caption text-center"
					data-x="center" data-y="218" data-speed="900" data-start="1500"
					data-easing="Sine.easeOut">Transform data from one medium to another</div>
				<div class="caption rev-buttons tp-resizeme sfb" data-x="center"
					data-y="313" data-speed="900" data-start="2200"
					data-easing="Sine.easeOut">
					<a href="data.xhtml" class="btn btn-theme-bg btn-lg">Learn More</a>
				</div>
			</li>
			<!-- SLIDE -->
			
			<li data-transition="fade" data-slotamount="5"
				data-masterspeed="1000" data-title="Slide 1">
				<!-- MAIN IMAGE --> <img src="images/header-bg.jpg" alt="darkblurbg"
				data-bgfit="cover" data-bgposition="left top"
				data-bgrepeat="no-repeat">
				<div class="caption sfb  uppercase-title text-center"
					data-x="center" data-y="158" data-speed="900" data-start="800"
					data-easing="Sine.easeOut">Conversion of Legacy MS Word /PDF to XML</div>
				<div class="caption sfb lowercase-caption text-center"
					data-x="center" data-y="218" data-speed="900" data-start="1500"
					data-easing="Sine.easeOut">Convert legacy Word documents to semi structure XML</div>
				<div class="caption rev-buttons tp-resizeme sfb" data-x="center"
					data-y="313" data-speed="900" data-start="2200"
					data-easing="Sine.easeOut">
					<a href="software.xhtml" class="btn btn-theme-bg btn-lg">Learn More</a>
				</div>
			</li>

			<!--
			<li data-transition="fade" data-slotamount="5"
				data-masterspeed="1000" data-title="Slide 1">
				<img src="images/header-bg.jpg" alt="darkblurbg"
				data-bgfit="cover" data-bgposition="left top"
				data-bgrepeat="no-repeat">
				<div class="caption sfb  uppercase-title text-center"
					data-x="center" data-y="158" data-speed="900" data-start="800"
					data-easing="Sine.easeOut">Enterprise Software Development</div>
				<div class="caption sfb lowercase-caption text-center"
					data-x="center" data-y="218" data-speed="900" data-start="1500"
					data-easing="Sine.easeOut">Develop custom web applications</div>
				<div class="caption rev-buttons tp-resizeme sfb" data-x="center"
					data-y="313" data-speed="900" data-start="2200"
					data-easing="Sine.easeOut">
					<a href="software.xhtml" class="btn btn-theme-bg btn-lg">Learn More</a>
				</div>
			</li>
			-->
		</ul>
	</div>
</div>