<!-- Page Content -->
<div class="divide10"></div>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="index.xhtml">Home</a></li>
		<li class="active">Business Rules Extractions (BREX)</li>
	</ol>
	<div class="row">
		<!--  row -->
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Business Rules Extractions (BREX)</h3>
				</div>
				<div class="panel-body">
					<p class="text_3 color_3">In 2016, 70% of data transaction systems were written in COBOL. Maintaining 
					these those legacy applications is not only costly, but is it’s hard to keep 
					the system up-to-date and is even harder to find qualified COBOL Cobol programmers nowadays.
					</p>
					
					<p class="text_3 color_3">Modernizing these large systems is not trivial, 
					because most of the functional specifications do not exist or are no longer available. 
					Business rules extraction helps to recover the business rules that are buried in the source codes.
					
					</p>
					<p class="text_3 color_3">Our firm has developed an open architecture for extracting 
					business rules is based on different disciplines from Backus- Naur form,  to compiling to, 
					data mining and to  machince learning. This framework utilizes uses various open open-source tool sets like such as ANTLR4, 
					StringTemplates, NumPy, and Apache Sparks.</p>
					
					<p class="text_3 color_3">The BREX process comprises of multiple phases as shown in Figure 1.</p>
					<ul>
						<li>Variable Classification</li>
						<li>Business Rule Identification</li>
						<li>Domain Model Extraction</li>
					</ul>
					
					
					<p class="text_3 color_3"><img src="images/business-rules.png" class="img-responsive" alt=""></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h3>Technology</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled cat-list">
						<li>ANTLR4</li>
						<li>NumPi</li>
						<li>ML</li>
						<li>Apache Sparks</li>
						<li>JDBC</li>						
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
